.notes-div {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  min-width: fit-content !important;
  max-width: 93vw !important;
}
.notes-head {
  text-align: end;
}
.text-editor {
  margin: 0 auto;
}
.ql-editor {
  min-height: 100px;
}
