.nav_component {
  min-height: 100vh;
  min-width: 100vw !important;
}
.nav_header {
  padding: 0;
  max-height: 55px !important;
  min-width: 100vw !important;
}
.nav_component .ant-image {
  margin: 0px !important;
}
.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}
.ant-menu-inline {
  border: none !important;
}
